table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.cell-style {
  height: 100px;
  width: 200px;
  text-align: center;
  font-size: 50px;
}

.App {
  text-align: center;
}

.bingo-board {
  display: flex;
  justify-content: center;
}

.question {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 18px !important;
  font-family: "georgia";
  text-align: center;
  justify-content: center;
}

.answer {
  font-size: 18px !important;
  font-family: "georgia";
  text-align: center;
}

.button-action {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
